/* Define o estilo básico para o HTML e o corpo da página */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

/* Estilo para o contêiner principal */
.container {
    width: 100%;
    height: 120vh;
    background: url('./images/background.gif') no-repeat fixed center; /* GIF de fundo */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para o conteúdo do contêiner */
.containerContents {
    background: url('./images/a016.jpg') no-repeat fixed center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

/* Estilo para o título */
.title {
    padding: 10px;
    color: #f5f5f5;
    text-align: center;
}

/* Estilo para a área das imagens dos slots */
.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
    width: 100%;
}

/* Estilo para os slots */
.slots {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Estilo para os botões */
button {
    margin: 10px;
    padding: 10px 20px;
    background: pink;
    outline: none;
    color: blue;
    border: solid 1px blue;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Estilo para os botões ao passar o mouse */
button:hover {
    color: greenyellow;
    border: solid 1px greenyellow;
    background-color: blue;
}

/* Estilo para a área de resultados */
#results {
    margin: 10px;
    padding: 10px;
    color: #fff;
    background: #7f8c8d;
    border-radius: 5px;
    text-align: center;
}

/* Estilo para a área de resultados quando o jogador ganha */
#results.won {
    background: #27ae60;
}

/* Estilo para a área de resultados quando o jogador perde */
#results.lost {
    background: #c0392b;
}

/* Estilo para as áreas de créditos, aposta e ganhos */
.credits, .bet, .winnings {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Estilo para os inputs de créditos, aposta e ganhos */
.credits input, .bet input, .winnings input {
    width: 50%;
    padding: 5px;
    text-align: right;
}

/* Estilo para telas menores que 768px */
@media screen and (max-width: 767.98px) {
    .containerContents {
        width: 100%;
        display: flex;
    }
    .slots {
        width: 100px;
        height: 100px;
    }
}

/* Estilo para telas entre 768px e 1024px */
@media screen and (min-width: 768px) {
    .containerContents {
        width: 500px;
    }
    .slots {
        width: 70px;
        height: 70px;
    }
}

/* Estilo para telas maiores que 1024px */
@media screen and (min-width: 1024px) {
    .slots {
        width: 80px;
        height: 80px;
    }
}

/* Estilo para o QR Code */
.qr-code-container {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.qr-code-container.show {
    display: block;
}
